<p>Hey there!</p>
<p>
   Congrats! <strong>A comment was added on your pub!</strong>
   <br>
   Check it out <%= link_to 'here', place_url(@place) %>.
</p>

<br>

Cheers,
<br><br>
Oliver <em>(The Frosty Governor)</em>
